@media (max-width:1400px) {
    .contanier {
        max-width: 1320px;
    }
}

@media (max-width:1200px) {
    .contanier{
        max-width: 1140px;
    }
}

@media (max-width:992px) {
    .contanier{
        max-width: 960px;
    }
}

@media (max-width:768px) {
    .contanier{
        max-width: 720px;
    }
}

@media (max-width:576px) {
    .contanier{
        max-width: 540px;
    }
}