* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.head {
    background: url(../img/image\ 18.svg);
}

.contanier {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .right {
        display: flex;
        gap: 15px;
        align-items: center;
        a{
            color: white;
            &:hover{
                border-bottom: 2px solid white;
            }
        }
    }
}